force-app/main/default/flows/Cr_ation_d_une_t_che_sur_Id_projet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Quel_est_le_statut_du_projet</name>
        <label>Quel est le statut du projet ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Statut_projet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>En_cours_ou_En_attente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getProjet.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getProjet.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stand by</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_d_une_tache</targetReference>
            </connector>
            <label>En cours ou En attente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_de_l_intervalle_de_la_t_che</name>
        <label>Validation de l&apos;intervalle de la tâche</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Date_hors_projet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exclu</defaultConnectorLabel>
        <rules>
            <name>Inclu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateDebutSaisieTache</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getProjet.startDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateFinSaisieTache</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getProjet.endDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_ation_de_la_tache</targetReference>
            </connector>
            <label>Inclu</label>
        </rules>
    </decisions>
    <description>Ce flux permet de créer une tâche directement sur un projet</description>
    <dynamicChoiceSets>
        <name>Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Tache__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priorite</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priorite__c</picklistField>
        <picklistObject>Tache__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatutTache</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Statut__c</picklistField>
        <picklistObject>Tache__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeDeTache</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_de_tache__c</picklistField>
        <picklistObject>Tache__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserIsActive</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Alias</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>integ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Alias</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>sec</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateDebutSaisieTache</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Date_de_debut})</expression>
    </formulas>
    <formulas>
        <name>DateFinSaisieTache</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Date_de_fin})</expression>
    </formulas>
    <interviewLabel>Création d&apos;une tâche sur Id projet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Création d&apos;une tâche sur Id projet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cr_ation_de_la_tache</name>
        <label>Création de la tâche</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Message_succ_s</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Erreur_Creation_Tache</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currencys</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_de_fin__c</field>
            <value>
                <elementReference>Date_de_fin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_debut__c</field>
            <value>
                <elementReference>Date_de_debut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detail_de_la_tache__c</field>
            <value>
                <elementReference>Detail_de_la_tache</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nom_de_la_tache</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priorite__c</field>
            <value>
                <elementReference>Priorites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projet__c</field>
            <value>
                <elementReference>getProjet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <elementReference>Statut_tache</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Taux__c</field>
            <value>
                <elementReference>Evolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_de_tache__c</field>
            <value>
                <elementReference>Type_de_tache</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Affectee</elementReference>
            </value>
        </inputAssignments>
        <object>Tache__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getProjet</name>
        <label>getProjet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quel_est_le_statut_du_projet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Projet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Creation_d_une_tache</name>
        <label>Création d&apos;une tâche</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation_de_l_intervalle_de_la_t_che</targetReference>
        </connector>
        <fields>
            <name>Attention</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;⚠️ &lt;/span&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Veuillez actualiser votre page après la création pour visualiser les nouvelles données.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Informations</name>
            <fieldText>📋 Informations</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informations_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_de_la_tache</name>
                    <dataType>String</dataType>
                    <fieldText>Nom de la tâche</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Attention : le titre est trop long. Il ne doit pas dépasser &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;80&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; caractères&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Nom_de_la_tache}) &lt;= 80</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Detail_de_la_tache</name>
                    <fieldText>Détail de la tâche</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;La description est trop longue. Elle ne doit pas dépasser &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;32768&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; caractères&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Detail_de_la_tache}) &lt;= 32768</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Type_de_tache</name>
                    <choiceReferences>TypeDeTache</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de tâche</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Priorites</name>
                    <choiceReferences>Priorite</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Priorité</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Statut_tache</name>
                    <choiceReferences>StatutTache</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Statut tâche</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Affectee</name>
                    <choiceReferences>UserIsActive</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Affectée à</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DatedebutPrjt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Date de début du projet&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;: {!getProjet.startDate__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DatedefinPrjt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Date de fin du projet: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!getProjet.endDate__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Calendrier</name>
            <fieldText>📅 Calendrier</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Calendrier_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_debut</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Date de début</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Calendrier_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_fin</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Date de fin</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Chiffres</name>
            <fieldText>Chiffres</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Chiffres_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Evolution</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>% Evolution</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Currencys</name>
                    <choiceReferences>Currency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Date_hors_projet</name>
        <label>Date hors projet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Creation_d_une_tache</targetReference>
        </connector>
        <fields>
            <name>msgHorsDate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;La tâche doit être comprise entre le &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(4, 186, 68);&quot;&gt;{!getProjet.startDate__c}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;et le &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(4, 186, 68);&quot;&gt;{!getProjet.endDate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Erreur_Creation_Tache</name>
        <label>Erreur Création Tache</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>erreur</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 10, 10);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_succ_s</name>
        <label>Message succès</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgSuccess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(3, 166, 42); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Vous avez créé la tâche avec succès.&lt;/strong&gt;&lt;span style=&quot;color: rgb(5, 195, 33); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Statut_projet</name>
        <label>Statut projet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageStatut</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Le statut du projet doit être &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(4, 186, 68);&quot;&gt;En cours&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; ou &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(4, 186, 68);&quot;&gt;En attente&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProjet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DatePD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DatePF</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
